/* Header */
.app {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0,#e7675f,#fc522d);
}

.header__navbar {
    display: flex;
    height: var(--header__navbar-height);
    justify-content: space-between;
    align-items: center;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 16px;
    display: flex;
    line-height: 24px;
}

.header__navbar-item-icon-link {
    color: var(--white-color);
    text-decoration: none;

}

.header__navbar--brige:hover .header__qr {
    display: block;
}

.header__notify-item--hasNotify:hover .header__notify {
    display: block;

}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__navbar-user-img {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin-right: 6px;
    border: 1px solid rgba(0,0,0,0.1);

}

.header__navbar-item.header__navbar-user {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__navbar-item.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-name {
    font-weight: 400;
}

.header__navbar-user-menu {
    position: absolute;
    padding-left: 0;
    right: -20px;
    top: calc(20px + 100%);
    width: 160px;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    z-index: var(--z-index-second);
    box-shadow: 0 2px 10px #bcbcbc;
    display: none;

}

.header__navbar-user-menu::before {
    content:"";
    position:absolute;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -29px;
    right: 36px;
    border-width: 15px;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -17px;
    right: 17px;
    width: 75%;
    height: 17px;
    background-color: transparent;


}


.header__navbar-user-item a:hover {
    background-color: #fafafa;
}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    display: block;
    padding: 8px 16px;
} 

.header__navbar-user-item a:first-child {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;

}

.header__navbar-user-item a:last-child{
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;

}

.header__navbar-item,
.header__navbar-item-link {
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 200;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-item-icon-link{
    display: inline-block;
    align-items: center;
    margin: 0 4px;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon:hover {
    cursor: pointer;
    color:rgba(255,255,255,0.7);
}

.header__navbar-item--strong {
    font-weight: 700;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #FB9086;
    height: 18px;
    right: -6px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon {
    font-size: 1.6rem;
    margin: 0 2px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    margin-left: 2px;
    color: var(--white-color);

}




/* Header QR CODE */

.header__qr {
    background-color: var(--white-color);
    width: 190px;
    position: absolute;
    left: 0;
    top: 180%;
    border-radius: 4px;
    padding: 9px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
    animation: fadeIn ease .7s;
    z-index: var(--z-index-first);
}

.header__qr::before {
    content:"";
    display:block;
    position:absolute;
    left: 0;
    top: -20px;
    height: 10%;
    width: 100%;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;

}
  
.header__qr-link:nth-child(1) {
    padding-left: 11px;
}
.header__qr-link:nth-child(2) {
    padding-right: 10px;
}



.header__qr-download-img{
    height: 15px; 
}


/* Notification */
.header__notify {
    position: absolute;
    top: 180%;
    background-color: var(--white-color);
    right: 0;
    width: 500px;
    margin: 0 4px;
    border-radius: 3px;
    border: 3px solid #d4d4d4;
    display: inline-block;
    transform-origin: calc(100% - 45px) top;
    animation: headerGrowth ease-in .3s, fadeIn ease-in .3s;
    will-change: opacity, transform;
    display: none;
    z-index: var(--z-index-second);
    

}

.header__notify::before {
    content:"";
    display:block;
    position:absolute;
    left: 0;
    top: -40px;
    height: 20%;
    width: 100%;
}

.header__notify::after {
    content:"";
    border-style: solid;
    border-width: 20px 26px;
    border-color: transparent transparent var(--white-color)  transparent;
    position: absolute;
    top: -9.1%;
    right: 10px;

}

 


@keyframes headerGrowth {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.header__notify-img {
    width: 30%;
    object-fit: contain;
    padding-left: 12px;

}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);

}

.header__notify-header h3 {
    color: #999;
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    padding: 0 0 0 12px;
    cursor: default;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;

}

.header__notify-item {
    background-color: var(--primary-color-rgba);
    padding: 8px;
    list-style: none;
}

.header__notify-item:hover {
    background-color: #f1f1f1;
}

.header__notify-link {
    display: flex;
    text-decoration: none;
    align-items: center;


}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 600;
    line-height: 1.5rem;
}

.header__notify-decription {
    display: block;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #756F6E;
    margin-top: 4px;
}

.header__notify-footer {
    text-align: center;
    border: 1px solid #decdcd;
    padding: 10px 0;
    width: 100%;

}

.header__notify-footer-btn {
    text-decoration: none;
    color: #343434;
    font-weight: 500;

}



/* Authen modal */
 
.auth-form__container {
    margin: 0 32px;
}

/* header authen form */
.auth-form-header {
    display: flex;
    margin: 0 12px;
    padding-top: 14px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}

/* input authen form */
.auth-form__input {
    width: 100%;
    height: 40px;
    margin: 12px 0;
    padding: 0 12px;
    font-size: 1.3rem;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    outline-color: rgb(9, 168, 236);
}

/* aside authen form */
.auth-form__aside {
    margin: 16px;
}

.auth-form__aside-text {
    font-size: 1.14rem;
    text-align: center;
    padding: 0 8px;

}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

/* control authen form */
.auth-form__controls {
    display: flex;
    justify-content: end;
    
}

.auth-form__control-back {

    margin-right: 12px;
}

/* social authen form  */
.auth-form__socials {
    margin-top: 20px;
    background-color:#e8e8e8;
    height: 60px;
    padding: 16px 38px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
}

.btn--with-icon-fb {
    background-color: #2a10be;
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 5px;
    min-width: 210px;
    margin-right: 16px;

}

.btn--with-icon-gg {
    color: var(--text-color);
    text-decoration: none;
    background-color: var(--white-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 5px;
    min-width: 210px;
    margin-right: 16px;
}


/* log in form */


/* auth form aside */

.auth-form__aside {
    margin-bottom: 90px;
}


.auth-form__help {
    display: flex;
    justify-content: end;
    font-size: 1.2rem;
    align-items: center;

}

.auth-form__help-link {
    text-decoration: none;
    color: #939393;
    font-weight: 600;
    
}

.auth-form__help-separate {
    border: 1px solid var(--border-color);
    margin: 0 20px;
    height: 26px;

}

.auth-form__help-link-forgot {
    color: var(--primary-color);
}

/* header with search */
.header-with-search {
    height: var(--header-with-search);
    display: flex;
    align-items: center;
    margin: 4px;

}

.header__mobile-search {
    padding: 0 12px;
    display: none;
}


.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}


.header__logo {
    height: 30px;
    margin: 0 0 0 5px;

}

.header__logo-link {
    text-decoration: none;
    color: transparent;
}

.header__logo-img {
    height: 100%;
    font-size: 29px;
    color: var(--white-color);
    width: 200px;
}

.header__search-checkbox:checked ~ .header__search {
    display: flex;
}

.header__search {
    height: 40px;
    background-color: var(--white-color);
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}


/* Cart layout */
.header__cart {
    width: 170px;
    text-align: center;
    position: relative;
    -webkit-tap-highlight-color: transparent;

}

.header__cart:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    background-color: var(--white-color);
    height: auto;
    width: 400px;
    top: calc(100% + 10px);
    right: 50px;
    position: absolute;
    border: #f0f0f0 1px solid; 
    border-radius: 3px;
    box-shadow: 0 2px 10px #ccc;
    animation: fadeIn ease-in .2s, gowth ease-in .2s;
    z-index: var(--z-index-first);
    display: none;
}

.header__cart-list::after { 
    content: "";
    position: absolute;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
    border-width: 15px;
    top: -25px;
    right: 18px;
    border-style: solid;
}


/* No cart */
.header__cart-list--no-cart .header__cart--no-cart-img, 
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart--no-cart-img {
    height: 60%;
    margin: 15px 0;
    display: none;
}

.header__cart-list-no-cart-msg {
    display: block;
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 12px;
    display: none;
}

/* .header__cart-notice {
    position: absolute;
    padding: 0px 8px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.2rem;
    top: -54px;
    right: 4px;
    border-radius: 50%;
    border: 3px #ed6050  solid;
    cursor: pointer;
    display: none;
} */

.header__cart-icon {
    font-size: 2rem;
    color: var(--white-color);
    margin-top: 3px;
    cursor: pointer;

}

/* has Cart */
.header__cart-list--has-cart .header__cart-heading, 
.header__cart-list--has-cart .header__cart-list-item,
.header__cart-list--has-cart .header__cart-view-cart.btn,
.header__cart-list--has-cart .header__cart-notice {
    display: block;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 600;
    display: block;
    display: none;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    display: none;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    height: 42px;
    width: 75px;
    margin: 12px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;

}

.header__cart-view-cart.btn {
    float: right;
    margin: 0 12px 12px 0;
    line-height: 37px;
    display: none;

}

.header__cart-view-cart:hover {
    background-color: #d67764;
}

 
.header__cart-item-head {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

.header__cart-item-name {
    font-size: 1.4rem;
    line-height: 1.4rem;
    height: 2.8rem;
    overflow: hidden;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    counter-reset: #757575;

}

.header__cart-item-qnt {
    counter-reset: #757575;
    font-size: 1rem;

}

.header__cart-item-body {
    text-align: left;
    color: #757575;
    font-size: 1.1rem;
    font-weight: 200;
    display: flex;
    justify-content: space-between;
}

 
.header__cart-item-remove {
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 500;
    cursor: pointer;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
}


/* Input element */
.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    height: 100%;
    width: 100%;
    color: var(--text-color);
    outline: none;
    border: none;
    padding: 0 14px;
    border-radius: 3px;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-select {
    border-left: #cbcbcb 1px solid;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
    display: inline-block;


}

.header__search-select
.header__search-select-icon {
    font-size: 1.3rem;
    color: #898989;
    margin: 0 16px;
    position: relative;
    top: 1px;
}

.header__search-select-label {
    font-size: 1.3rem;
    color: var(--text-color);

}
 
.header__search-btn {
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 70px;
    margin-right: 3px;
    border-radius: 3px;
    position: relative;
    top: 0.5px;
    cursor: pointer;
}

.header__search-btn:hover {
    background-color: #e9655c;
}


.header__search-btn-icon {
    font-size: 1.3rem;
}

/* header search option */

.header__search-option {
    position: absolute;
    right: 24px;
    top: calc(100% + 1px);
    padding: 0;
    z-index: var(--z-index-first);
}

.header__search-select:hover .header__search-option-item {
    display: inline-block;
    display: flex;
    align-items: center;
}

.header__search-option-item {
    background-color: var(--white-color);
    width: 124px;
    padding: 16px 0;
    list-style: none;
    display: flex;   
    justify-content: center;
    animation: fadeIn ease-in .2s, gowth ease-in .2s;
    z-index: var(--z-index-first);
    display: none;
    box-shadow: 0 0 1px #afafaf;
    
}


.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

}

.header__search-option::before {
    content: "";
    top: -20px;
    display: block;
    height: 30px;
    width: 100%;
    background-color: transparent;
    position: absolute;


}

.header__search-option-item:hover {
    background-color: #e1e1e1;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.2rem;
    color: var(--text-color);
     

}
.header__search-option-item i {
    color: var(--primary-color);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    margin-left: 8px;

}
 

/* History search */
.header__search-history {
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    width: calc(100%);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow:  0 1px 5px #d2d2d2;
    z-index: var(--z-index-first);
    display: none;
}

.header__search-title {
    font-size: 1rem;
    margin: 0;
    padding: 6px 8px;
    color: #999;

}

.header__search-history-list {
    margin: 0;
    padding-left: 0;
    list-style: none;

}

.header__search-history-item {
    height: 34px;
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
    cursor: pointer;

}

.header__search-history-item:hover {
    background-color: #dfdfdf;
}

.header__search-history-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    padding: 0 8px;
}

.header__search-history-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

}

/* Header sort bar */
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    display: flex;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    display: none;
    list-style: none;
}

.header__sort-item {
    flex: 1;

}

.header__sort-link {
    text-decoration: none;
    counter-reset: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    color: var(--text-color);
    list-style: none;
}

/* .header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: 60%;
    border-left: 1px solid var(--border-color);
} */


.header__sort-item--active .header__sort-link{
    color: var(--primary-color);
}

/* App Container */
.app__container {
    background-color: #f5f5f5;

}

.app__content {
    padding-top: 30px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;

}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 12px;
    position: relative;
    top: 1px;

}

.category__heading {
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 16px;
    margin-top: 0;
    display: flex;
    border-bottom: 1px solid #f5f5f5;

}   

.category__list {
    padding:0 0 8px 0;
    list-style: none;
    margin-left: 10px;

}

.category__item--active .category__item-link {
    color: var(--primary-color);

}

.category__item--active .category__item-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 7px;
    border: 4px solid;
    transform: translateY(calc(-50%));
    border-color: transparent transparent transparent var(--primary-color);
}

.category__item-link {
    position: relative;
    right: 0;
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 8px 16px;
    transition: right linear 0.1s;
}

.category__item-link:hover {
    color: var(--primary-color);
    right: -4px;

}

/* Mobile category */
.mobile-category {
    display: none;
}

.mobile-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
    background-color: #87afd8;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
    background-color: #76c9bd;
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
    background-color: #88cf81;
}


.mobile-category__link {
    --line-height: 2rem;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    padding: 0 6px;
    overflow: hidden;
    text-align: center;
    width: 110px;
    border-radius: 4px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}



/* Home sort + filter*/
.home__filter {
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 3px;

    background-color: rgba(0, 0, 0, 0.05);
}

.home__filter__btn {
    margin-right: 12px;
    min-width: 90px !important; 
}

.home__filter-label {
    font-size: 1.3rem;
    color: #555555;
    margin-right: 16px;

}

.home-filter__page {
    display: flex;
    align-items: center;
}

.home-filter__page {
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.3rem;
    color: var(--text-color);
    margin-right: 22px;

}

.home-filter__page-num-current {
    color: var(--primary-color);

}

.home-filter__page-control {
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    display: flex;
    flex: 1;
    background-color: var(--white-color);
    text-decoration: none;
    color: #555555;
}

.home-filter__page-btn--disable {
    color: #f9f9f9;
    cursor: default;


}

.home-filter__page-btn--disable .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #c2c2c2;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.3rem;

}

.select-input {
    min-width: 164px !important;
}



/* Product item */
.home-product  {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    margin-top: 10px;
    background-color: var(--white-color);
    text-decoration: none;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;    
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);

}

.home-product-item__img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    padding: 50%;
    background-size: cover;
} 

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 5px 10px;
} 

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 5px 0px;
} 

.home-product-item__price-old {
    font-size: 1.4rem;
    margin-left: 10px;
    color: #666;
    text-decoration: line-through;

} 

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
} 

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
} 

.home-product-item__like {
    font-size: 1.3rem;

} 

i.home-product-item__like-icon-fill {
    color: #d60000;
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 1rem;
    zoom: .8;
    /* =
    transform: scale(0.7);
    transform-origin: right; */
    color: #d5d5d5;
    margin:-1px 0 0 auto;
} 

.home-product-item__star--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 5px;
}

.home-product-item__origin {
    display: flex;
    margin: 5px 10px;
    font-weight: 300;
    color: #595959;
    font-size: 1.2rem;
} 

.home-product-item__brand {
    margin-right: auto;
} 

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
} 

.home-product-item__favourite::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2.5px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;

}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    color: rgba(255, 216, 64, 0.9);
    background-color: rgba(255, 216, 64, 0.9);
    border-top-right-radius: 2px;
} 

.home-product-item__sale-off::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent {
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    position: relative;
    top: 0;
} 

.home-product-item__sale-off-label {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    color: var(--white-color);
    position: relative;
    top: -3px;
} 


/* Pagination */
.home-product__pagination {
    margin-top: 48px;
    margin-bottom: 32px;
    padding-left: 0px;
}



/* footer */
.footer {
    border-top: 3px solid var(--primary-color);
    padding-top: 16px;
}

.footer__heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;

}

.footer-item-link {
    font-size: 1.2rem;
    text-decoration: none;
    color: #737373;
    padding: 4px 0;
    display: flex;
    align-items: center;

}

.footer-item-link:hover {
    color: var(--primary-color);

}

.footer-item i {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-apps-link {
    color: transparent;
    text-decoration: none;
}

.footer__download-apps-chplay {
    height: 24px;
}

.footer__download-apps-appstore {
    height: 24px;
}

.footer__bottom {
    background-color: #f5f5f5;
    padding: 8px 0;
    margin-top: 24px;
}

.footer__text {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    color: #747474;
}